.page-header
  %h1
    = @build.project.name
    = "##{@build.build_no}"
    %br
    %small
      Build log files

= render :partial => 'file_output', :locals => {:files => @files, :dirs => @dirs}

- content_for :topbar do
  %li= link_to("#{@build.project.name} home", project_path(@build.project))
  %li= link_to(content_tag(:i, "&nbsp;".html_safe, :class => "icon-rss").html_safe, feed_project_path(@build.project, :format => "atom"), :class => "rss")
  %li= link_to("Build ##{@build.build_no} home", build_path(@build))
