.page-header
  %h1
    = @build.project.name
    = "##{@build.build_no}"
    %br
    %small
      via
      %code.dark= @build.project.vcs_source
      on
      %code.dark= @build.project.vcs_branch
    - if (current_user.projects.include?(@build.project))
      = link_to("Build now", build_project_path(@build.project), :class => "btn crm btn-large btn-success pull-right")

  .btn-group.light
    - if params[:stderr].nil?
      = link_to("Show stderr", build_path(@build, :stderr => 1), :class => "btn btn-inverse")
    - else
      = link_to("Hide stderr", build_path(@build), :class => "btn btn-inverse")
    - if (current_user.projects.include?(@build.project))
      = link_to("Edit project", edit_project_path(@build.project), :class => "btn btn-primary")
      = link_to("Delete build", build_path(@build), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger")
    - if @build.project.output_path != "" and @build.project.output_path != nil
      - if Dir.exists?(File.join(@build.build_dir, @build.project.output_path)) and Dir.exists?(File.join(@build.build_dir_public))
        = link_to("Project output", "/builds/output/#{@build.id}/", :class => "btn btn-info")

#build.row
  .span7
    #ajax-reload= @build.ajax_reload?

    = render :partial => 'build', :locals => { :build => @build }

    - unless @build.finished?
      - build_path_params = params[:stderr] ? {:format => :js, :stderr => 1} : {:format => :js}
      = ajaxReload(build_path(@build, build_path_params))
  .span5
    %div.project-actions
      = render :partial => 'build_details'

- content_for :topbar do
  %li= link_to("#{@build.project.name} home", project_path(@build.project))
  %li= link_to(content_tag(:i, "&nbsp;".html_safe, :class => "icon-rss").html_safe, feed_project_path(@build.project, :format => "atom"), :class => "rss")
