.page-header
  %h1
    = @project.name
    %small Edit project options and configurations
    - unless BigTuna.read_only?
      = link_to("Build now", build_project_path(@project), :class => "btn crm btn-large btn-success pull-right")

.row
  .span6
    %h3 Edit project
    = simple_form_for(@project, :url => project_path(@project), :html => { :class => 'form-horizontal'}) do |f|
      = render :partial => "form", :locals => {:f => f}
  .span6.right-column
    %h3 Edit configurations

    %h5
      Special variables are available.
    %p.text-info
      %tt= "<b>%build_dir%</b> directory where build is checked out".html_safe
      %br
      %tt= "<b>%project_dir%</b> directory shared by all builds in project".html_safe

    %p.help-block= "You can comment a step with <tt>#</tt>".html_safe
    - step_count = 0
    - unless @project.step_lists.empty?
      - @project.step_lists.each do |step_list|
        %hr
        %h4.step-list-header= (step_count + 1).to_s + ": " + step_list.name
        - unless step_list.new_record?
          = link_to("Remove step", step_list_path(step_list, :project_id => @project.id), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger btn-small pull-right btn-remove-step")
        %div.step-variables
          %h5
            Shared variables
          %p.shared_variables.text-info
            - step_list.shared_variables.each do |variable|
              %tt= "<b>%#{variable.name}%</b> #{variable.value}".html_safe
              %br
          = link_to("Edit variables", shared_variables_path(:step_list_id => step_list), :class => 'btn btn-mini btn-primary btn-edit-variables pull-right')
        = simple_form_for(step_list, :url => step_list_path(step_list, :project_id => @project), :html => { :class => 'form-vertical', :method => "PUT"}) do |f|
          = render :partial => "step_lists/form", :locals => {:f => f}

    %h3 New configuration
    = simple_form_for(StepList.new, :url => step_lists_path(:project_id => @project), :html => { :class => 'form-vertical'}) do |f|
      = render :partial => "step_lists/form", :locals => {:f => f}





- content_for :topbar do
  - unless BigTuna.read_only?
    %li= link_to("#{@project.name}", project_path(@project), :class => "black_button")

