%h2= "#{@hook.backend.class::NAME.humanize} hook for #{@project.name}"

= simple_form_for(@hook, :url => project_config_hook_path(@project, @hook.backend.class::NAME), :html => {:method => "PUT", :class =>"form-horizontal"}) do |f|
  .inputs
    .control-group
      %label.control-label.string Hooks Enabled
      .controls
        .hooks_input
          - Hook::AVAILABLE_HOOKS.each do |hook_name|
            - if @hook.hook_implemented?(hook_name)
              %label{:class => 'checkbox', :for => "hook_hooks_enabled_#{hook_name}"}
                = check_box_tag("hook[hooks_enabled][#{hook_name}]", hook_name, @hook.hooks_enabled.include?(hook_name))
                = hook_name.humanize
      - begin
        = f.simple_fields_for :configuration, OpenStruct.new(f.object.configuration || {}) do |fc|
          = render(:partial => "#{@hook.backend.class::NAME}/form", :locals => {:f => fc})
      - rescue ActionView::MissingTemplate
        - #pass
  .form-actions      
    %button{:type => "submit", :class => "btn btn-primary"} Update
    = link_to("Back to editing project", edit_project_path(@project), :class => "btn btn-inverse")
