!!!
%html
  %head
    %title BigTuna Continuous Integration
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8"}
    %meta{:name => "keywords", :content => "keywords"}
    %meta{:name => "description", :content => "description"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar.collapsed{:data => {:toggle => "collapse", :target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = content_tag :a, "BigTuna-CI #{BigTuna::VERSION}", :class => "brand"
          .nav-collapse.collapse
            %ul.nav
              %li
                = link_to("Projects", root_path)
              %li
                = link_to("Users", users_path)
            %ul.nav.projects
              = yield :topbar
            %ul.nav.pull-right
              - if user_signed_in?
                %li
                  %p.navbar-text
                    ="#{current_user.name}"
                %li
                  = link_to("(Sign out)", destroy_user_session_path, :method => :delete)
              - else
                %li
                  = link_to("Sign in", new_user_session_path)          

    .container
      = bootstrap_flash
      = yield

    = yield :sidebar
